<section id="home">
  <div>
    <h1>Hola mi nombre es, <span>Anxo Campos</span></h1>
    
    <img src="/public/85c2hg4i.png" alt="" />
  </div>
</section>

<style>

  section {
    display: flex;
    justify-content: center;
  }

   h1 {
    color: white;
  }

  span {
    color: teal;
  }

  img {
    border-radius: 100vh;
    max-width: 150px;
    max-height: 150px;
  }
</style>
