

<nav>
    <strong><a href="#home">Principal</a></strong>
    <strong><a href="#about">Sobre mi</a></strong>
    <strong><a href="#experience">Experiencia</a></strong>
    <strong><a href="#projects">Proyectos</a></strong>
    <strong><a href="#contact">Contacto</a></strong>
</nav>

<style>


    nav {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        font-size: medium;
    }

    nav a {
        text-decoration:  none;
        margin: 20px;
        display: flex;
        justify-content: center;
        color: white;
        width: 80px;
    }

    nav a:hover {
        color: teal;
    }
</style>